Checks: >
  boost-*,
  bugprone-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  -portability-avoid-pragma-once,
  readability-*,
  clang-analyzer-*
